@import url(//db.onlinewebfonts.com/c/482de819aa9631d27141f3d998cace18?family=Ethnocentric);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
}

body{
    display: inline;
    font-family: 'Ethnocentric', arial;
    background-color: #1f2933;
}

.header{
    width: 90%;
    margin: 15px auto;
    padding: 10px 0;
    background-color: #334e68;
}

#btn-svg {
    display: none;
    float: right;
    width: 100px;
    height: 100%;
    padding: 5px;
    margin: 5px;
    cursor: pointer;
}

#btn-svg path{
    fill: #1f29338c;
}
#btn-svg:hover path{
    fill: #1f2933;
}

.welcome{
    width: fit-content;
    padding: 20px;
    margin: auto;
    text-align: center;
}
.welcome h1{
    text-transform: uppercase;
    font-family: 'Ethnocentric';
    color: #1f2933;
    user-select: none;
    opacity: 1;
    transition: opacity 0.5s;
}
.welcome h1:hover{
    opacity: 0.8;
}


/*Navigation*/
.nav{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style: none;
    /* width: 100%; */
    min-height: fit-content;
}
.nav li{
    position: relative;
    width: 24%;
    height: 80px;
    min-height: fit-content;
}
.nav li span{
    display: inline-block;
    position: absolute;
    background-color: none;
    width: 30%;
    line-height: 1;
    border-radius: 100%;
    box-sizing: content-box;
    white-space: nowrap;
    transition: width 1.0s, background-color 1.0s;
}
.nav li span:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    padding-top: 100%;
    height: 0;
}
.nav li a{
    position: relative;
    display: grid;
    place-items: center;
    overflow: hidden;
    user-select: none;
    color: #1f2933;
    background-color: #1b7ddfa8;
    text-decoration: none;
    font-size: large;
    height: 100%;
    width: 100%;
    border-left: 1px solid #1f2933;
    border-right: 1px solid #1f2933;
    border-radius: 4px;
}
.nav li a:hover{
    color: #fff;
    background-color: #0080ff;
    box-shadow: 0px 10px 15px 10px rgba(0, 0, 0, 0.267);
}
.nav li:last-child a{
    border-right: none;
}
.nav li:first-child a{
    border-left: none;
}
.nav li a:active span{
    background-color: #ffffff3d;
    width: 150%;
}

.nav li:hover .menubar{
    display: block;
}
.nav li:hover .menubar{
    display: block;
}

.menubar{
    display: none;
    position: absolute;
    width: 100%;
    background-color: none;
    box-sizing: border-box;
    white-space: nowrap;
}
.menubar ul{
    list-style: none;
}
.menubar ul li{
    width: 100%;
}
.menubar ul li a{
    border-top: 1px solid #1f2933;
}
.menubar ul li:last-child a{
    border-right: 1px solid #1f2933;
}
.menubar ul li:first-child a{
    border-left: 1px solid #1f2933;
}

@media only screen and (max-width: 1000px) {
    .header{
        display: flex;
        position: relative;
        margin: 15px auto;
        width: 98%;
        min-height: fit-content;
    }
    #btn-svg{
        display: block;
    }
    .welcome h1{
        font-size: x-large;
    }
    .nav li span{
        width: 20%;
        max-width: 110%;
        transition: width 1.5s, background-color 1.5s;
    }
    .nav{
        display: list-item;
        position: absolute;
        width: 0;
        height: 0;
        top: 100%;
        margin-left: 105%;
        transition: margin-left 0.6s, height 0.6s, width 0.6s;
    }
    .nav-animi{
        width: 100%;
        height: 100%;
        margin-left: 0%;
        transition: margin-left 0.6s, height 0.1s, width 0.1s;
    }
    .nav li a{
        border: none;
        border-bottom: 1px solid #334e68;
    }
    .nav li{
        position: relative;
        width: 100%;
        height: 80px;
        min-height: fit-content;
    }
    .nav li:hover .menubar{
        display: none;
    }
}
